<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopicaros">

        <!-- US01 - Login -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- US03 / US04 - Catálogo -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US05 - Detalle -->
        <activity
            android:name=".ui.detail.ProductDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US07 - Edición -->
        <activity
            android:name=".ui.detail.EditProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US06 - Agregar producto -->
        <activity
            android:name=".ui.products.AddProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US10 - Carrito -->
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US11 - Listado de usuarios -->
        <activity
            android:name=".ui.users.UsersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- US12 - Auditoría de carritos -->
        <activity
            android:name=".ui.audit.CartAuditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>